@import "tailwindcss";


@theme {
  /* TODO: Install and load fonts properly */
  --font-sans: "Atkinson Hyperlegible", ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --font-serif: "Lora", ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;
  --font-mono: "Iosevka", "IosevkaTerm Nerd Font Mono", "IosevkaTerm", "ZedMono Nerd Font", ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}

/* TODO: This doesn't seem to work */
@media (prefers-color-scheme: light) {
  @theme {
    --color-neutral: orange;
    --color-primary: black;
    --color-secondary: pink;
  }
}

@media (prefers-color-scheme: dark) {
  @theme {
    --color-neutral: oklch(3.97% 0.0074 99);
    --color-primary-intense: oklch(0.94 0.1011 96);
    --color-primary: oklch(99.99996% 0.000345 99);
    --color-secondary: oklch(88.38% 0.0493 250.94);
    --color-secondary: oklch(92.5% 0.0937 322.41);
  }
}

.main {
  padding-block: calc(var(--spacing) * 4);
  font-family: var(--font-mono);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--color-primary-intense);
  font-size: var(--text-3xl);
  font-weight: bolder;
  padding-top: calc(var(--spacing) * 4);
  padding-bottom: calc(var(--spacing));
}

a {
  color: var(--color-secondary);
}

a:hover {
  text-decoration: underline;
}

.faint {
  opacity: 80%;
  font-weight: light;
}

.content {
  padding-inline: calc(var(--spacing) * 4);
  max-width: 82ch;
  margin-inline: auto;
}

.prose {
  h2 {
    font-size: var(--text-2xl);
  }

  h3 {
    font-size: var(--text-xl);
  }

  h4 {
    font-size: var(--text-lg);
  }

  p,
  ul,
  pre,
  ol,
  blockquote {
    opacity: 90%;
    margin-bottom: calc(var(--spacing) * 4);
  }

  ul>li {
    list-style: disc;
    margin-left: 2ch;
  }

  ol>li {
    list-style: decimal-leading-zero;
    margin-left: 4ch;
  }

  .footnotes {
    margin-top: 1em;
    font-size: 10pt;
  }

  blockquote {
    padding-left: 1.5ch;
    border-left: 0.5ch solid var(--color-secondary);
    font-style: italic;
  }

  blockquote p {
    display: inline;
  }
}

/* TODO: Move all this to other file */

/* iosevka-latin-100-normal */
@font-face {
  font-family: 'Iosevka';
  font-style: normal;
  font-display: swap;
  font-weight: 100;
  src: url(https://cdn.jsdelivr.net/fontsource/fonts/iosevka@latest/latin-100-normal.woff2) format('woff2'), url(https://cdn.jsdelivr.net/fontsource/fonts/iosevka@latest/latin-100-normal.woff) format('woff');
}

/* iosevka-latin-200-normal */
@font-face {
  font-family: 'Iosevka';
  font-style: normal;
  font-display: swap;
  font-weight: 200;
  src: url(https://cdn.jsdelivr.net/fontsource/fonts/iosevka@latest/latin-200-normal.woff2) format('woff2'), url(https://cdn.jsdelivr.net/fontsource/fonts/iosevka@latest/latin-200-normal.woff) format('woff');
}

/* iosevka-latin-300-normal */
@font-face {
  font-family: 'Iosevka';
  font-style: normal;
  font-display: swap;
  font-weight: 300;
  src: url(https://cdn.jsdelivr.net/fontsource/fonts/iosevka@latest/latin-300-normal.woff2) format('woff2'), url(https://cdn.jsdelivr.net/fontsource/fonts/iosevka@latest/latin-300-normal.woff) format('woff');
}

/* iosevka-latin-400-normal */
@font-face {
  font-family: 'Iosevka';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src: url(https://cdn.jsdelivr.net/fontsource/fonts/iosevka@latest/latin-400-normal.woff2) format('woff2'), url(https://cdn.jsdelivr.net/fontsource/fonts/iosevka@latest/latin-400-normal.woff) format('woff');
}

/* iosevka-latin-500-normal */
@font-face {
  font-family: 'Iosevka';
  font-style: normal;
  font-display: swap;
  font-weight: 500;
  src: url(https://cdn.jsdelivr.net/fontsource/fonts/iosevka@latest/latin-500-normal.woff2) format('woff2'), url(https://cdn.jsdelivr.net/fontsource/fonts/iosevka@latest/latin-500-normal.woff) format('woff');
}

/* iosevka-latin-600-normal */
@font-face {
  font-family: 'Iosevka';
  font-style: normal;
  font-display: swap;
  font-weight: 600;
  src: url(https://cdn.jsdelivr.net/fontsource/fonts/iosevka@latest/latin-600-normal.woff2) format('woff2'), url(https://cdn.jsdelivr.net/fontsource/fonts/iosevka@latest/latin-600-normal.woff) format('woff');
}

/* iosevka-latin-700-normal */
@font-face {
  font-family: 'Iosevka';
  font-style: normal;
  font-display: swap;
  font-weight: 700;
  src: url(https://cdn.jsdelivr.net/fontsource/fonts/iosevka@latest/latin-700-normal.woff2) format('woff2'), url(https://cdn.jsdelivr.net/fontsource/fonts/iosevka@latest/latin-700-normal.woff) format('woff');
}

/* iosevka-latin-800-normal */
@font-face {
  font-family: 'Iosevka';
  font-style: normal;
  font-display: swap;
  font-weight: 800;
  src: url(https://cdn.jsdelivr.net/fontsource/fonts/iosevka@latest/latin-800-normal.woff2) format('woff2'), url(https://cdn.jsdelivr.net/fontsource/fonts/iosevka@latest/latin-800-normal.woff) format('woff');
}

/* iosevka-latin-900-normal */
@font-face {
  font-family: 'Iosevka';
  font-style: normal;
  font-display: swap;
  font-weight: 900;
  src: url(https://cdn.jsdelivr.net/fontsource/fonts/iosevka@latest/latin-900-normal.woff2) format('woff2'), url(https://cdn.jsdelivr.net/fontsource/fonts/iosevka@latest/latin-900-normal.woff) format('woff');
}
