@import "tailwindcss";
@import "./fonts.css";

@theme {
    --font-sans:
        "Atkinson Hyperlegible", ui-sans-serif, system-ui, sans-serif,
        "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
        "Noto Color Emoji";
    --font-serif:
        "Lora", ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;
    --font-mono:
        "Iosevka", "IosevkaTerm Nerd Font Mono", "IosevkaTerm",
        "ZedMono Nerd Font", ui-monospace, SFMono-Regular, Menlo, Monaco,
        Consolas, "Liberation Mono", "Courier New", monospace;
}

:root {
    --theme-color-neutral: oklch(3.97% 0.0074 99);
    --theme-color-primary: oklch(99.99996% 0.000345 99);
    --theme-color-primary-intense: oklch(0.94 0.1011 96);
    --theme-color-primary-soft: oklch(0.87 0.0111 96);
    --theme-color-secondary: oklch(92.5% 0.0937 322.41);
    --theme-color-tertiary: oklch(88.38% 0.0493 250.94);

    @media (prefers-color-scheme: light) {
        --theme-color-neutral: oklch(0.999 0.005 10);
        --theme-color-primary: oklch(0.0559 0.0937 57.18);
        --theme-color-primary-intense: oklch(0.64 0.2011 96);
        --theme-color-primary-soft: oklch(0.31 0.0011 96);
        --theme-color-secondary: oklch(0.5382 0.1283 322.41);
        --theme-color-tertiary: oklch(0.4176 0.1357 250.94);
    }
}

/* TODO: This doesn't seem to work */
@theme inline {
    --color-neutral: var(--theme-color-neutral);
    --color-primary-intense: var(--theme-color-primary-intense);
    --color-primary-soft: var(--theme-color-primary-soft);
    --color-primary: var(--theme-color-primary);
    --color-secondary: var(--theme-color-secondary);
    --color-tertiary: var(--theme-color-tertiary);
}

body {
    background-color: var(--color-neutral);
    color: var(--color-primary);
}

@layer components {
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        color: var(--color-primary-intense);
        font-size: var(--text-3xl);
        font-weight: bolder;
        padding-top: calc(var(--spacing) * 4);
        padding-bottom: calc(var(--spacing));
    }

    a {
        color: var(--color-secondary);
    }

    a:hover {
        text-decoration: underline;
    }

    .faint {
        opacity: 80%;
        font-weight: light;
    }

    .content {
        padding-inline: calc(var(--spacing) * 4);
        max-width: 82ch;
        margin-inline: auto;
    }

    .prose {
        color: var(--theme-color-primary-soft);

        counter-reset: heading;
        h2:before {
            content: counter(heading) ") ";
            counter-increment: heading;
        }
        h2 {
            counter-reset: subheading;
            font-size: var(--text-2xl);
        }

        h3 {
            font-size: var(--text-xl);
        }
        h3:before {
            content: counter(heading) "." counter(subheading) ") ";
            counter-increment: subheading;
        }

        h4 {
            font-size: var(--text-lg);
        }

        p {
            margin-bottom: calc(var(--spacing) * 4);
        }

        ul > li {
            list-style: disc;
            margin-left: 2ch;
        }

        ol > li {
            list-style: decimal-leading-zero;
            margin-left: 4ch;
        }

        li > p {
            margin-bottom: 0px;
        }

        .footnotes {
            margin-top: 1em;
            font-size: 10pt;
        }

        blockquote {
            padding-left: 1.5ch;
            border-left: 0.5ch solid var(--color-secondary);
            font-style: italic;
        }

        blockquote p {
            display: inline;
        }

        code {
            color: var(--color-tertiary);
        }

        figure {
            img {
                max-height: 600px;
                margin-inline: auto;
            }

            figcaption {
                @apply w-fit mx-auto text-sm text-tertiary mt-1 mb-2;
            }
        }
    }

    button {
        padding-inline: calc(var(--spacing) * 2);
        background-color: var(--color-primary);
        color: var(--color-neutral);
        transition: background-color color 150ms;
    }

    button:hover {
        background-color: color-mix(
            in oklch,
            var(--color-primary),
            var(--color-neutral) 25%
        );
    }
    button:active {
        background-color: color-mix(
            in oklch,
            var(--color-primary),
            var(--color-neutral) 45%
        );
    }
    button:disabled {
        background-color: color-mix(
            in oklch,
            var(--color-primary),
            var(--color-neutral) 80%
        );
        color: var(--color-primary);
    }
}
