*, *::before, *::after {
	box-sizing: border-box;
}

* {
	margin: 0;
}

html, body {
	height: 100%;
	overflow: scroll;
}

* {
	line-height: calc(1em + 0.5rem);
	-webkit-font-smoothing: antialiased;
}

img, picture, video, canvas, svg {
	display: block;
	max-width: 100%;
}

input, button, textarea, select {
	font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
	overflow-wrap: break-word;
}

button {
	background-color: currentColor;
	color: currentColor;
	border: none;
	box-shadow: none;
}

ul > li {
	list-style: none;
}

/* main {
	z-index: 0;
} */